{% extends "base.html" %}
{% load static %}
{% block navbar_links %}{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Research</h2>
    <h6>System for preparing, conducting surveys and data visualization</h6>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">

        <div class="card card-cover h-100 overflow-hidden text-white bg-dark  shadow-lg" style="background-image: url('{% static 'polls/edit.jpg' %}');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Edit Surveys</h2>

          </div>
          <a href="{% url 'polls:edit_survey_list' %}" class="stretched-link"></a>
        </div>

      </div>


      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark  shadow-lg" style="background-image: url('{% static 'polls/test.jpg' %}');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Test surveys</h2>

          </div>
          <a href="{% url 'polls:start_survey_list' %}" class="stretched-link"></a>
        </div>
      </div>


      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark  shadow-lg" style="background-image: url('{% static 'polls/res.jpg' %}');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Results</h2>

          </div>
          <a href="{% url 'polls:result_survey_list' %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}