{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'polls:vote' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choices_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="hidden" name="questionnaire" value="{{ questionnaire.id }}">
    <input type="hidden" name="survey" value="{{ survey.id }}">
    <input type="hidden" name="question" value="{{ question.id }}">
    <input type="hidden" name="status" value="next">
</fieldset>
<input type="submit" value="Save">
</form>

{% endblock %}