{% extends "base.html" %}
{% load static %}
{% block content %}
{% block header %}
{% endblock %}
<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">{{ survey.welcome_header_text }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ survey.welcome_description_text }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

        <form action="{% url 'polls:vote' %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="questionnaire" value="{{ questionnaire.id }}">
         <input type="hidden" name="status" value="start">
         <input type="hidden" name="survey" value="{{ survey.id }}">
         <input type="submit"  class="btn btn-primary btn-lg px-4 "value="Start">
        </form>
      </div>
    </div>
</div>








{% endblock %}